<html>
	<head>
		<title>Catalyst - Create Account</title>
	</head>
	<body>
		<h1>Create Account</h1>
		<form action="" method="POST">
			<input type="text" name="uname" placeholder="New Username" />
			<br />
			<input type="text" name="email" placeholder="Your Email" />
			<br />
			<input type="password" name="pass" placeholder="New Password" />
			<br />
			<label>
				<input type="radio" name="uname" value="girl" />
				Girl
			</label>
			<label>
				<input type="radio" name="uname" value="guy" />
				Guy
			</label>
			<br />
			<input type="submit" value="Play For Free">
		</form>
	</body>
</html>