<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Catalyst</title>
		<link rel="stylesheet" type="text/css" href="css/landing.css" />
	</head>
	<body>
		<div id="wrap">
			<div id="container">
				<img src="img/catalyst.png" class="logo" />
				<div class="play">
					<h1 class="play">Join the Fight</h1>
					<a class="play" href="create"><img src="img/playnow.png" class="play" /></a>
					<span class="login">Or login <a class="login" href="login">here</a></span>
				</div>
				<div class="break">
				</div>
				<div class="links">
					<span class="links">Games | About Us | Blog | People | MVP | Winners</span>
				</div>
				<div class="break">
				</div>
				<div id="girls" class="scoreBox">
					<div class="scoreLabel">
						<span class="girls">Girls</span>
					</div>
					<div class="score">
						<span class="scoreLabel">Score</span>
						<br />
						<span class="score">{{girls}}</span>
					</div>
				</div>
				<div id="boys" class="scoreBox">
					<div class="scoreLabel">
						<span class="boys">Boys</span>
					</div>
					<div class="score">
						<span class="scoreLabel">Score</span>
						<br />
						<span class="score">{{boys}}<span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>